/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #fffbfb;
    color: #686766;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh; /* 100% of the viewport height */
}

.item {
    background-color: #0066cc;
    color: #fff;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex: 1;
}

h1 {
    color: #050505;
}

p {
    font-size: 22px;
    line-height: 1.5;
}
