body {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    background-position: center;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    max-width: 100%;
}

.header-item {
    grid-area: header;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 35px;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

h1.header-item {
    background-image: url('https://raw.githubusercontent.com/MeltyMate/meltymate.github.io/index/Images/RC_wall.jpg');
}

.Motorbike, .Kart, .RC, .Sim {
    grid-area: header;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-shadow: -1px 5px 0 #000, 10px -1px 0 #000, -1px 1px 0 #646464, 3px 1px 0 #686464;
    text-align: center;
    font-size: 36px;
    margin: 0;
    width: 100%;
    transition: transform 0.3s;
}

.Motorbike:hover, .Kart:hover, .RC:hover, .Sim:hover {
    transform: scale(1.2);
    cursor: pointer;
    font-weight: bold;
}

.Motorbike {
    background-image: url('https://raw.githubusercontent.com/MeltyMate/meltymate.github.io/index/Images/Dirtbike4.jpeg');
}

.Kart {
    background-image: url('https://raw.githubusercontent.com/MeltyMate/meltymate.github.io/index/Images/Gokart_2 (1).jpeg');
}

.RC {
    background-image: url('https://raw.githubusercontent.com/MeltyMate/meltymate.github.io/index/Images/RC_boxes.jpg');
}

.Sim {
    background-image: url('https://raw.githubusercontent.com/MeltyMate/meltymate.github.io/index/Images/Sim2.jpeg');
}

h5 {
    text-align: center;
    font-size: 24px; 
    color: #131313; 
    margin-bottom: 10px; 
    font-family: 'Pacifico', cursive; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p {
    text-align: center;
    font-size: 24px; 
    color: #131313; 
    margin-bottom: 50px; 
    font-family: 'Pacifico', cursive; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-container a.item {
    background-color: #504e4e;
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    margin: 5px 8px;
    border: 2px solid #f07109;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
}

.flex-container a.item:hover {
    background-color: #f07109;
    color: #fff;
}

.flex-container a.item.active {
    background-color: #f15d07;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 3px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 18px;
    border: 2px solid #585858;
    border-radius: 10px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    margin: 10px;
    width: 45%;
}

.gallery-item:hover {
    transform: scale(1.2);
}

.flex-containermotorbike {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flex-containermotorbike img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #f07109;
    border-radius: 10px;

}

.flex-containermotorbike img.enlarged {
    transform: scale(4);
    justify-content: center;
    align-items: center;
}


footer {
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: rgb(12, 12, 12);
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .header-item {
        font-size: 24px;
        padding: 25px;
    }
    .Motorbike, .Kart, .RC {
        font-size: 24px;
    }
    .gallery-item {
        width: 100%;
    } 
    .flex-container a.item {
        width: 90%;
        font-size: 10px;
        padding: 6px; 
    }
    .flex-container a.item.active {
        font-size: 14px;
    }

    .flex-containermotorbike img {
        max-width: 150px;
    }

    .flex-containermotorbike img.enlarged {
        transform: scale(2);
    }
}
